@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-image: url(../assets/backgroundCubos.jpg); */
    /* background-color: #147a8b; */
    background-image: url(../assets/pexels-pixabay-274192.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.maquina_container{
    /* background-image: url(../assets/fondoMaquina.jpg); */
    background-size: cover;
    box-shadow: 0px 0px 5px #eeee;
    border-radius: 20px;
    background-color: #fff;


}
.products-container {
    height: 593px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0px 20px;
    background-size: cover;
    background: #fff;
    border-radius: 20px;
}

.products-list_container{
    background-color: #000;
    padding: 10px 15px;
    border-radius: 20px;
}
.card_product{
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    padding: 5px 0px;
}
.products-container::-webkit-scrollbar{
    border-radius: 20px;
    background-color: #eeee;
    width: 10px;
}
.products-container::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color: #949191;
}
.card-product{
    text-align: center;
    background-color: #fff;
    border: 1.5px solid #eeee;
    box-shadow: 0px 0px 1px #eeee;
    border-radius: 15px;
    padding: 5px 0px;
}
.card-product__img{
    width: 100px;
    height: 100px;
}
.btn-coins{
    background-image: url(../assets/moneda.png);
    background-repeat: no-repeat;
    background-size: 60px 50px;
    background-position-x: 0;
    background-position-y: 0;
    width: 60px;
    height: 50px;
    color: #000;
    font-size: 14px;
    font-weight: 900;
}
.btn-bills{
    background-image: url(../assets/iconBillete.png);
    background-repeat: no-repeat;
    background-size: 60px 50px;
    background-position-x: 0;
    background-position-y: 0;
    width: 60px;
    height: 50px;
    color: #000;
    font-size: 14px;
    font-weight: 900;
}
.card_info{
    text-align: center;
}
.control-container{
    background-color: #000;
}
.control-container__data{
    background-color: rgba(255,255,255,0.1);
    border-radius: 10px;
}
.control-container__data span{
    font-family: 'Big Shoulders Stencil Text', cursive;
    font-size: 1.3rem;
    /* color: rgb(15, 185, 228); */
    color: #fff;
    text-align: right;
}
.tabler-container{
    height: 315px;
    overflow-y: auto;
}
.tabler-container::-webkit-scrollbar{
    
    border: 1px solid #eeee;
    background-color: #eeee;
    border-radius: 20px;
    width: 10px;
}
.tabler-container::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color: #949191;
}
.container_automata{
    box-shadow: 0px 0px 9px 0px rgba(255,255,255,0.75);
    height: 325px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #fff;
}
.container-automata__visual{
    height: 100%;
    width: 100%;
}



