@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../assets/fondoMaquinaBebidas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.maquina_container{
    background-image: url(../assets/fondoMaquina.jpg);
    background-size: cover;
    box-shadow: 0px 0px 5px #000;
}
.products-container{
    height: 450px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0px 20px;
    background-image: url(../assets/fondoBannerBebidas.jpg);
    backdrop-filter: blur(100px);
    background-size: cover;
}
.card_product{
    background: rgba(255,255,255,0.3);
    border: 1px solid #fff;
    border-radius: 10px;
}
.products-container::-webkit-scrollbar{
    border-radius: 20px;
    background-color: #eeee;
    width: 10px;
}
.products-container::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color: #949191;
}
.card-product{
    text-align: center;
    background-color: #fff;
    border: 1.5px solid #eeee;
    box-shadow: 0px 0px 1px #eeee;
    border-radius: 15px;
    padding: 5px 0px;
}
.card-product__img{
    width: 150px;
    height: 150px;
}
.btn-coins{
    background-image: url(../assets/moneda.png);
    background-repeat: no-repeat;
    background-size: 70px 60px;
    background-position-x: 0;
    background-position-y: 0;
    width: 70px;
    height: 60px;
}
.btn-bills{
    background-image: url(../assets/billete.png);
    background-repeat: no-repeat;
    background-size: 70px 70px;
    background-position-x: 0;
    background-position-y: 0;
    width: 70px;
    height: 70px;
}
.card_info{
    text-align: center;
}
.control-container{
    background-color: rgb(64, 64, 87);
}
.control-container__data{
    background-color: #000;
    border: 1px solid #000;
    border-radius: 10px;
}
.control-container__data p{
    font-family: 'Big Shoulders Stencil Text', cursive;
    font-size: 2rem;
    color: rgb(15, 185, 228);
    text-align: right;
}
.tabler-container{
    height: 320px;
    overflow-y: auto;
}
.tabler-container::-webkit-scrollbar{
    
    border: 1px solid #eeee;
    background-color: #eeee;
    border-radius: 20px;
    width: 10px;
}
.tabler-container::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color: #949191;
}